.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
	background-color : rgba(255,255,255,0.2);
}


.button {
    background: #C5E3FF;
}

.avatar {
    object-fit: cover;
}

