.card {
    background: #C5E3ED;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
	background: rgb(118, 200, 228);
}


.button {
    background: #C5E3FF;
}

