<app-navbar></app-navbar>
<ng-template [ngIf] = "profile.id !== null">
    <ng-template [ngIf] = "!editMode">
        <div class = "container ma3 pa3">
            <div class = "header pa5 w-60">
                <div>
                    <h1 class = "tc">{{ getFullName() }}</h1>
                </div>
                <div>
                    <img [src] = "profile.picture" width="200px" height = "200px"/>
                </div>
                
            </div>
        
            <div class = "mt3 body w-60">
                <div class = 'pa3'>
                    <p>
                            <strong>About me : </strong>
                            {{ profile.blurb }}
                        </p>
                
                        <p>
                            <strong>Occupation : </strong>
                                {{ profile.occupation }}
                            </p>
                        <p>
                
                        <p>
                            <strong>Location : </strong>
                                {{ profile.location }}
                            </p>
                        <p>
                            <strong>D.O.B : </strong>
                            {{ profile.birthday }}
                        </p>
                </div>
        
            </div>
            <ng-template [ngIf] = "isViewingSelf()">
                <p class = "editButton pa2 pointer" (click) = "onEditProfile()">Edit</p>
            </ng-template>
        </div>
    </ng-template>
    
    
    <ng-template [ngIf] = "editMode">
        <div class = "container ma3 pa3">
            <div class = "header pa5 w-60">
                <div>
                    <h1 class = "tc">{{ getFullName() }}</h1>
                </div>
                <div style = "display: flex; flex-direction: column; justify-content: space-between;">
                    <img [src] = "profile.picture" width="200px" height = "200px"/>
                    <div>
                        <p>Update your profile picture</p>
                        <input type = 'file'
                            (change)=  "uploadFile($event)"/>
                    </div>
                </div> 
            </div>
        
            <div class = "mt3 body w-60">
                <div class = 'pa3'>
                    <form [formGroup] = "editForm">
                        <div class = 'mv2' style = "display: flex; flex-direction: column;">
    
                            <input class = "mv2 formInput" placeholder = "About me" formControlName = "about"/>
    
                            <input class = "mv2 formInput" placeholder = "Occupation" formControlName = "occupation"/>
        
                            <input class = "mv2 formInput" placeholder = "Location" formControlName = "location"/>
        
                            <input class = "mv2 formInput" placeholder = "D.O.B" formControlName = "birthday"/>

                        </div>
                        <button class = "editButton pa2 mh2 pointer" (click) = "onUpdateProfile()">Save</button>
                        <button class = "editButton pa2 mh2 pointer" (click) = "onEditProfile()">Cancel</button>
                    </form>
                    <ng-template [ngIf] = "updateResponse === 0 && !waiting">
                        <p class = 'tc'>Profile successfully updated!</p>
                    </ng-template>
                    <ng-template [ngIf] = "waiting">
                        <app-spinner></app-spinner>
                    </ng-template>
                </div>
            </div>
        </div>
        
    </ng-template>
    
</ng-template>


<ng-template [ngIf] = "profile.id === null">
    <div class = "spinner-wrapper">
        <app-spinner></app-spinner>
    </div>
</ng-template>
