.fieldContainers {
    background: transparent;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid white;
}

.header {
	background: white;
	display: flex;
	justify-content: space-between;
}

.body {
	background: transparent;
	border: 2px solid white;
}

.editButton {
	border: 1px solid black;
	background: #ADD8E6;
}