.fieldContainers {
    background: transparent;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid white;
}

.header {
	background: white;
	display: flex;
	justify-content: space-between;
}

.body {
	background: transparent;
	border: 2px solid white;
}

.editButton {
	border: 1px solid black;
	background: #ADD8E6;
}

.saveButton {
	border: none;
	border-radius: 3px;
	background: green;
	color: white;
}

.formInput {
	width : 100%;
	background : transparent;
	color : black;
	border-style : solid;
	border-width : 1px;
	border-color : white;
}

.spinner-wrapper {
	height: 60%; 
	width: 100%; 
	display: flex; 
	justify-content: center; 
	align-items: center;
}