<ng-template [ngIf] = "userSet">
    <div class = 'box'>
        <div class = "name tc pa3 pointer" (click) = "onViewProfile()">{{ getName() }}</div>
        <div class = "messageSection" id = "bottom">
            <div *ngFor = "let messageObject of messages; let i = index;">
                
                <div [ngClass] = "{
                    'receiverWrapper': !isSending(messageObject),
                    'senderWrapper': isSending(messageObject)
                }">

                    <div class = "chatHead ma2">
                        <img [src] = "getPicture(i, messages)" alt = ""/>
                    </div>

                    <!-- Image message -->
                    <ng-template [ngIf] = "messageObject.filecode === 0 || messageObject.filecode === 1">
                        <div className = 'msgCard pv2 ma2' (click) = "onZoomImage(messageObject.message)">
                            <img className = 'br4' [src] = "messageObject.message" alt = '' width = '200px' />
                        </div>
                    </ng-template>

                    <!-- Music file message -->
                    <ng-template [ngIf] = "messageObject.filecode === 2">
                        <div className = 'msgCard br4 pv2 ma2' >
                            <audio controls>
                                <source [src] = "messageObject.message" type = 'audio/mpeg'/>
                            </audio>
                        </div>
                    </ng-template>

                    <!-- Only display if first new message -->
                    <ng-template [ngIf] = "messageObject.filecode === 10">
                        <div class = 'msgCard receiver ph3 pv3 ma2' 
                            [ngClass] = "{ 
                                        'receiver': !isSending(messageObject),
                                        'sender': isSending(messageObject),
                                        'temporary' : (messageObject.isTemp === true)
                            }">
                            {{ messageObject.message }}
                        </div>
                    </ng-template>

                </div>
    
            </div>
        </div>
        
    </div>
    <div class = 'message w-100 mt1' style = "display : flex;justify-content : center">
        <form [formGroup] = "messageForm" class = 'w-100'>
            <input 
                class = 'pa2 ba bg-transparent w-100' 
                formControlName = "message"
                (keydown) = "onPress($event)"
                type = 'text' />
        </form>
    
        <div class = 'image-upload'>
            <label for = 'file'>
                <img class = 'pointer grow' src = "assets/attach.png" alt = 'paperclip' width = '40px'/>
            </label>
            <input 
                id = "file" 
                type = "file"
                (change) = "uploadFile($event)" 
            />
        </div>
        
        <button class = 'mh1 ph3 pv2 br3 sendButton' (click) = "sendMessage()">Send</button>
        
    </div>
</ng-template>

<ng-template [ngIf] = "showZoom">
    <img [src] = "zoomImage" height = "500px" width = "500px">
</ng-template>