.box {
    border: 1px solid white;
    width: 100%;
    flex: 1
}

.messageSection {

	height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.msgCard {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 500px;
	word-wrap: break-word;
	border-radius: 1rem;
	padding-top : 0.5em;
	padding-bottom : 0.5em;
}

.sender {
	background: #7ec0ee;
	color : white;

}

.name {
	background-color : rgba(255,255,255,0.2);
}

.name:hover {
	background-color: rgba(118, 200, 228, 0.5);
}

.receiver {
	background: #DEDEDE;
}

.image-upload > input {
    display: none;
}

.sendButton {
	border: 1px solid white;
	background: transparent;
	cursor: pointer;
}


.sendButton:hover {
	background: rgb(118, 200, 228);
}


.chatHead {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius : 100%;
}

.chatHead img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.receiverWrapper {
	display: flex; 
	justify-content: flex-start;
	align-items: center;
}

.senderWrapper {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: center;
}

.temporary {
	opacity: 0.7
}