<div class = 'formPage'>
    <div class = 'mt6'>
        <h1 class = 'f1 white'>Chime</h1>
        <div class = 'br3 ba shadow-5 b--black-10 mv4 w-100 w-50-m w-25-l mw6 center form'>
            <div class = 'pa4 black-80'>
                <div class = 'measure'>
                    <div class = 'ba b--transparent ph0 mh0'>
                        <div class = 'f2 fw6 ph0 mh0'>Sign In</div>
                        <div class = 'mt3'>
                            <label class = 'formLabel lh-copy'>Email</label>
                            <input class = 'pa2 formInput' type = 'email' />
                        </div>
                        <div class = 'mv3'>
                            <label class = 'formLabel lh-copy'>Password</label>
                            <input 
                            class = 'pa2 formInput' type = 'password' />
                            
                        </div>
                    </div>

                    <input 
                    class = 'ph4 pv3 mt2 formButton' type = 'submit' value = 'Sign in' />

                    <div class = 'lh-copy mt3'>
                        <p 
                        href = '' className = 'f5 link dim black db pointer'>Register</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>